@model IEnumerable<Lap2._1.Models.Book>

@{
    ViewBag.Title = "ListBookModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách Boook</h2>


@*<table cellpadding="10" boder="1">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Image Cover
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>



    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>

            <td>
                <img src="@item.ImageCover" width="95" title="cover" />
            </td>
            <td>
                <a href="/Book/EditBook/@item.Id" title="Edit Book"> Edit </a>
            </td>
            <td>
                <a href="/Book/DeleteBook/@item.Id" title="Delete Book">Delete</a>
            </td>
        </tr>
    }

</table>*@


    
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageCover)
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edit)
            Edit:
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delete)
            Delete:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
       
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>

            <td>
                <img src="@item.ImageCover" width="95" title="cover" />
            </td>
            <td>
                <a href="/Book/EditBook/@item.Id" title="Edit Book"> Edit </a>
            </td>
            <td>
                <a href="/Book/DeleteBook/@item.Id" title="Delete Book">Delete</a>
            </td>
        </tr>
      
    }


</table>
<tr style="text-align:center;padding-top:20px">
    <td colspan="2">
        <div>
            
            @Html.ActionLink("Create Book","CreateBook","Book")
        </div>
       
        
    </td>

</tr>
